/* Clean Slate */
body {
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.bar {
    height: 20vh;
    width: 100vw;
    padding-left: 1em;

    line-height: 20vh;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

    transition: background-color 250ms ease-out;
}

.interface {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 5px;

    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
}

.interface__button {
    padding: 1em 2em;
    border: none;

    border-radius: 5px;
    background-color: #099c9c;
    cursor: pointer;

    color: #fff;
    font-weight: 700;
    letter-spacing: .15em;

    transition: background-color 150ms ease-out;
}

.interface__button:hover {
    background-color: #037474;
}

.interface__button:focus {
    outline: none;
}